<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card
        id="1"
            image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQihN_IRIXwi515XwNAEmtKw4vAmoUzoPJ7KA&s"
            title="Saiu nova versão do Angular!"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui risus, rutrum condimentum malesuada nec, mollis sed risus. Duis eget feugiat metus, vel maximus lorem. Praesent pellentesque consectetur ligula quis aliquam. Nunc efficitur enim."></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQihN_IRIXwi515XwNAEmtKw4vAmoUzoPJ7KA&s"
        title="Angular Material: é bom mesmo?"
        id="2"></app-small-card>
        <app-small-card image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQihN_IRIXwi515XwNAEmtKw4vAmoUzoPJ7KA&s"
        title="Vamos ver os Buttons do Angular Material"
        id="3"></app-small-card>
        <app-small-card image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQihN_IRIXwi515XwNAEmtKw4vAmoUzoPJ7KA&s"
        title="Não sei mais o quê"
        id="4"></app-small-card>
    </div>
</div>